<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      My Blog#{' - ' + current_article.title unless current_article.nil?}

    %link{href: "http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}
    %link{href: "http://fonts.googleapis.com/css?family=Radley:400,400italic", rel: "stylesheet", type: "text/css"}

    %script{src: "javascripts/jquery.js"}

    = stylesheet_link_tag "all"
    = javascript_include_tag  "all"
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"

%body
  %main{:role => "main"}
    = partial("partials/nav")
    %section
      = yield
  - if content_for?(:footer_main)
    = yield_content :footer_main

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51006708-1', 'cbnnr.in');
  ga('send', 'pageview');
